<div class="d-flex justify-content-center" style="margin-top: 4rem; margin-bottom: 4rem">
<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>OnClinic</mat-card-title>
    <mat-card-subtitle>Plataforma de Gerenciamento de Consultas</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/./src/img/logo.jpg" alt="Logo">
  <mat-card-content>
    <p>
      Utilize os botões a baixo ou o menu lateral para a navegação
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="primary"><a href="pacientes" style="text-decoration: none;">PACIENTE</a></button>
    <button mat-stroked-button color="primary"><a href="agendamentos" style="text-decoration: none;">AGENDAMENTO</a></button>
  </mat-card-actions>
</mat-card>
</div>
