<div class="container p-3">
    <h2 mat-dialog-title>Cadastrar Profissional</h2>

    <mat-dialog-content>
        <form class="form-padrao" *ngIf="fGroup" [formGroup]="fGroup" (ngSubmit)="fGroup.valid && salvar()" noValidate>
            <mat-form-field>
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Nome" formControlName="nome" required />
                <mat-error>Preencha o campo corretamente!</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>CNPJ</mat-label>
                <input matInput placeholder="CPNJ" formControlName="cpnj" required />
                <mat-error>Preencha o campo corretamente!</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email" required />
                <mat-error>Preencha o campo corretamente!</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Telefone</mat-label>
                <input matInput placeholder="Telefone" formControlName="telefone" required />
                <mat-error>Preencha o campo corretamente!</mat-error>
            </mat-form-field>
            <div class="acoes">
                <button mat-raised-button color="primary" [disabled]="!fGroup.valid">Cadastrar</button>

                <button type="button" class="btn-warning" mat-raised-button mat-dialog-close>Cancelar</button>
            </div>
        </form>
    </mat-dialog-content>
</div>
