<div class="container">
    <h2 style="margin-bottom: 30px">Lista de Profissionais</h2>

    <div *ngIf="loading" class="spinner py-5 d-flex justify-content-start">
        <div class="spinner-border" style="width: 15rem; height: 15rem" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div *ngIf="!loading && !paginator.records">Nenhum registro carregado!</div>

    <div class="table-container" [hidden]="loading || !paginator.records">
        <table mat-table [dataSource]="paginator.records">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let profissional">{{ profissional.id }}</td>
            </ng-container>
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef>Nome</th>
                <td mat-cell *matCellDef="let profissional">{{ profissional.nome }}</td>
            </ng-container>
            <ng-container matColumnDef="cnpj">
                <th mat-header-cell *matHeaderCellDef>CNPJ</th>
                <td mat-cell *matCellDef="let profissional">{{ profissional.cnpj }}</td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let profissional">{{ profissional.email }}</td>
            </ng-container>
            <ng-container matColumnDef="telefone">
                <th mat-header-cell *matHeaderCellDef>Telefone</th>
                <td mat-cell *matCellDef="let profissional">{{ profissional.telefone }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="colunas"></tr>
            <tr mat-row *matRowDef="let row; columns: colunas"></tr>
        </table>
    </div>
    <div class="acoes">
        <button class="btn mt-4" style="background-color: #4934cc; color: #fff" (click)="openDialog()">
            Cadastrar Profissional
        </button>
    </div>
</div>
